html, body, div {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #222222;
    white-space: nowrap;

    font-family: josefin-slab, serif;
    font-size: 3rem;
}

.column {
    display: inline-block;
    
    -webkit-transition: all .6s cubic-bezier(.85,.1,.2,.94);
}

.left {
   background-color: #111111;
    width: 5%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    -webkit-perspective: 1200;
    -webkit-backface-visibility: hidden;
    -webkit-transition-delay: .3s;
}

.left:hover {
    width: 50rem;
    -webkit-transition-delay: 0s;
    
}

.left:hover ~ .right {
    width: 40%;
}

/*.hamed {
    
    width: 100%;
    height: 100%;
    background-image: url(/1.jpg);
    background-size: cover;
    background-position: center center;
    -webkit-transform: rotateY(0deg);
    -webkit-transform-origin: 0% center;
    -webkit-transition: all .6s cubic-bezier(.85,.1,.2,.94);
}

.left:hover ~ .center .hamed {
    background-color: red;
    -webkit-transform: rotateY(90deg);
}*/


.center {
    background-color: rgba(0, 0, 0, 0.8);
    width: 55%;
    height: 100%;
    -webkit-perspective: 1200;
    -webkit-backface-visibility: hidden;
    -webkit-transition-delay: 0s;
}

.right {
    background-color: sandybrown;
    width: 40%;
    height: 100%;
    float: right;background-image: url(/1.jpg);
    background-size: cover;
    background-position: center center;
    -webkit-transition-delay: 0s;
    -webkit-filter: saturate(2) brightness(0.8) hue-rotate(5deg) blur(3px);
}

.right:hover {
    width: 75%;
    -webkit-filter: saturate(2) brightness(0.8) hue-rotate(5deg) blur(0);
}

.right:hover ~ .center {
    width: 20%;
}

.lef {
    position: absolute;
}

.contet {
    background-color: #ffffff;
    width: 40rem;
    height: 100%;
    right: 10rem;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.85,.1,.2,.94) .02s, opacity .6s cubic-bezier(.85,.1,.2,.94) .2s;
    opacity: .5;
}

.edge {
    background-color: #ff0000;
    width: 10rem;
    height: 100%;
    right: 0;
}

.left:hover .contet{
    opacity: 1;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.85,.1,.2,.94) .02s, opacity .6s cubic-bezier(.85,.1,.2,.94) .08s;
    -webkit-transform: rotateY(0deg);
}

nav {
    -webkit-transition: all .7s cubic-bezier(1,-0.32,.6,1.43);
    position: absolute;
    /*padding: 4rem;*/
    /*background-color: blue;*/
    top:50%;
    right: 6rem;
    margin-top: -9.6rem;
}

nav a {
    font-size: 4.7rem;
    /*position: absolute;*/
    right: 0;
    cursor: pointer;
    display: block;
    text-align: right;
}

a.active{
    color: red;
}

canvas {
    width: 0;
    height: 0;
}

.left canvas {    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-top: 4rem solid transparent;
	border-bottom: 4rem solid transparent;
	border-right: 4rem solid red;
}

